Source: point-set-viewer
Section: x11
Priority: extra
Maintainer: Santiago León O. <santileortiz@gmail.com>
Build-Depends: debhelper (>= 9),
               libc6-dev (>= 2.17),
               python3 (>=3.2),
               libcairo2-dev,
               libpango1.0-dev,
               libx11-xcb-dev,
               libxcb-sync-dev
Standards-Version: 3.9.7

Package: point-set-viewer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 2D point set visualizer
 Explore point sets that represent each order type
