[Desktop Entry]
Name=Point Set Viewer
Comment=Explore point set's order types
Exec=ot_viewer
Icon=point-set-viewer
Keywords=points;order types;
Terminal=false
Type=Application
StartupNotify=true
Categories=Science;
